/*
 * footer.css
 *
 * Styling for the footer
 *
 * MUST be referenced on any HTML page with a footer
 * Should be referenced on ALL HTML pages for consistency 
 */

/*
 * :Root
 *
 * Theme Colours
 * --name: value;
 */
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #333;
  --lightgray: #E1DCD7;
  --maroon: #320404;
  --tan: #FFEFD9;
}

/* 
 * Styling for the footer
 */ 
.footer {
  text-align: center;
  background-color: var(--gray);
  color: var(--tan);
  height: 225px;
}

.footer p {
  background-color: var(--gray);
  color: var(--tan);
  opacity: 50%;
  font-size: 10px;
  line-height: 20px;
  transform: translateY(50%);
  top: 0px;
}

.footer a {
  background-color: var(--gray);
  color: var(--tan);
}

.footer .footerIcon {
  background-color: var(--gray);
  color: var(--tan);
}

.footer a:hover {
  opacity: 100%;
  color: var(--white);
}